# Ignore upload folder at root
/upload/

# Ignore node_modules in both frontend and server
/frontend/node_modules/
/server/node_modules/
/server/.env

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
